.navbar-brand-highlight {
    color: var(--uipath-orange);
}

.bot-icon-btn {
    color: var(--uipath-orange);
    background-color: rgba(250, 70, 22, 0.1);
}

.logout-container {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}

.logout-text {
    font-size: 0.8rem;
    color: #666;
}